/**
*	Stylesheet for Pass It On Project
*	Devin Shackle
*	CSCI E-15 Dynamic Web Applications
**/

.loginOut {
	float:right !important;
}


.news {
	width:90%
}

#exec_summary {
	height: 150px;
}

#body {
	height:300px;
}

div.exec_summary {
	margin-bottom: 25px;
}

div.body {
	margin-bottom: 10px;
}